body {
  margin: 0;
  padding: 0;
  background-color: orange; /* Set the background color for the entire page */
}

.App {
  text-align: center;
  color: black;
}

.App-header {
  background-color: black;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: auto;
  max-height: 7rem;
  width: auto;
}

.table-container {
  overflow-x: auto;
  margin: 20px;
  padding: 0 10px;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
